footer
  div(style="text-align: center; font-family: 'Roboto'; width: 100%; background-color: #244c5a; color: #ffffff;")
    div(style="width: 100%; padding: 22px 0px;")
      span(style="font-size: 16px; font-weight: 500;") Desarrollado por
      br
      br
      img(src="", alt="Logo Ferre5")
    div(style="font-size: 8px;")
      span Icons made by 
      a(href="https://www.freepik.com" title="Freepik" style="color: #ffffff;") Freepik 
      span from 
      a(href="https://www.flaticon.com/" title="Flaticon" style="color: #ffffff;") www.flaticon.com