html(style="height: 100%; width: 100%;")
  include header.pug
  body(style="text-align: center; color: #5c5c5c; font-family: 'Roboto';")
    div(style="margin: 0 auto; width: 50%;")
      div(style="margin: 32px 0px;")
        span(style="font-size: 42px;") ¡Hola #{receiverName}!
      div(style="margin: 32px 0px;") 
        span(style="font-size: 28px;") Consulta la factura de tu compra en la sección de archivos adjuntos.
        br
        br
        span(style="font-size: 28px;") También podrás acceder a ella desde el historial de compras de nuestra plataforma.
  include footer.pug
