html(style="height: 100%; width: 100%;")
  - var url = webAppBaseUrl;
  include header.pug
  body(style="text-align: center; color: #5c5c5c; font-family: 'Roboto';")
    div(style="margin: 0 auto; width: 50%;")
      div(style="margin: 32px 0px;")
        span(style="font-size: 42px;") ¡Hola #{receiverName}! Gracias por utilizar nuestra aplicación.
      div(style="margin: 32px 0px;") 
        span(style="font-size: 28px;") Te hacemos entrega de tus credenciales para ingresar a la plataforma, no las compartas con nadie. 
    div(style="margin-bottom: 22px;")
      img(style="height: 140px;" src="", alt="key")
    div(style="margin: 0 auto; width: 50%; padding-top: 58px; padding-bottom: 58px; font-size: 32px; color: #ffffff; background-color: #000000; border-radius: 25px;")
      span Correo
      br
      span(style="font-weight: 600;")
        a(style="color: #ffffff;" name="email") #{email}
      br
      br
      span Contraseña
      br
      span(style="font-weight: 600;") #{password}
    div(style="margin-top: 32px; margin-bottom: 62px;")
      a(style="font-size: 28px; color: #5c5c5c;" href=url) Ir a iniciar Sesión
  include footer.pug
